version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/.github/actions/setup-context"
    schedule:
      interval: "monthly"

  - package-ecosystem: "bun"
    directory: "/"
    schedule:
      interval: "monthly"
