name: Release

on: { release: { types: [published] }, pull_request: {} }

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    strategy:
      matrix:
        registry: [npm, github]
        include:
          - registry: npm
            command: bun publish --access public --registry https://registry.npmjs.org
          - registry: github
            command: bun publish --access public --registry https://npm.pkg.github.com
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: package.json
          registries: |
            https://registry.npmjs.org/|$NPM_TOKEN
            @kjanat:https://npm.pkg.github.com/|$GITHUB_TOKEN

      - name: Install dependencies
        run: bun ci

      - name: Audit
        run: bun audit

      - name: Publish to ${{ matrix.registry }} registry${{ github.event_name == 'pull_request' && ' (dry run)' }})
        run: ${{ matrix.command }} ${{ github.event_name == 'pull_request' && '--dry-run' || '' }}
