name: Release

on:
  push:
    tags:
      - "v*"
  pull_request:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  audit:
    name: Audit
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun ci

      - name: Audit
        run: bun audit

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [audit]
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        registry: [npm, github]
        include:
          - registry: npm
            registry-url: https://registry.npmjs.org
          - registry: github
            registry-url: https://npm.pkg.github.com
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          registries: |
            https://registry.npmjs.org/|$NPM_TOKEN
            @kjanat:https://npm.pkg.github.com/|$GITHUB_TOKEN

      - name: Setup publishing context
        id: context
        uses: kjanat/prettier-config/.github/actions/setup-context@master
        with:
          package: "@kjanat/prettier-config"
          registry-url: ${{ matrix.registry-url }}

      - name: Install dependencies
        if: steps.context.outputs.should-publish == 'true'
        run: bun ci

      - name: Publish to ${{ matrix.registry }} registry${{ github.event_name != 'push' && ' (dry run)' || '' }}
        if: steps.context.outputs.should-publish == 'true'
        run: bun publish --access public --registry ${{ matrix.registry-url }} ${{ github.event_name != 'push' && '--dry-run' || '' }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publishing skipped
        if: steps.context.outputs.should-publish != 'true'
        run: |
          if [[ "${{ steps.context.outputs.is-tag }}" == "true" ]]; then
            echo "⏭️ Version ${{ steps.context.outputs.tag-version }} already published to ${{ matrix.registry }}"
          else
            echo "ℹ️ Not a version tag - skipping ${{ matrix.registry }} publish"
          fi
